.games-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    display: block;
    text-align: center;
    border: 1px solid var(--borderColor-muted);

    img {
      display: block;
      pointer-events: none;
      margin-bottom: 8px;
      aspect-ratio: 2/3;
    }
  }

  &__placeholder {
    aspect-ratio: 2/3;
    background-color: var(--bgColor-muted);
    margin-bottom: 8px;
  }
}