.tournaments-block {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 8px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    display: block;
    padding: 16px 8px;
    text-align: center;
    border: 1px solid var(--borderColor-muted)
  }
}